h1{ Color: Blue; 
font-family: "Arial Black";
font-size: 30px; }
h2 { color: red;
font-family: "times new roman"; 
font-size: 25px; }
p{ color: green;
font-family:"times new roman";
font-size: 20px;
}
 img { width:700px; }